@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

.header {
  height: 80px;
  border-bottom: 3px solid #1B1B1B;
  background-color: #FFFFF4;
}

.header-menu {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

.section-login {
  padding: 44px 0;
  background-color: #FFFFF4;
}
.section-login__image {
  text-align: center;
  margin-bottom: 35px;
}
.section-login__image svg {
  fill: #1B1B1B;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

.form-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
  color: #000000;
  max-width: 230px;
  margin: 89px auto 0;
  padding: 22px 84px;
  background-color: #BBFC1A;
  cursor: pointer;
}
.form-button:hover {
  background-color: rgba(188, 252, 26, 0.8352941176);
}
.form-button:active {
  background-color: #b7ff00;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 10px;
  max-width: 100%;
  height: 66px;
  border: 1px solid #000000;
  background-color: #FFFFF4;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

form {
  padding: 17px 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: #FFFFF4;
}
form label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
form input {
  max-width: 100%;
  height: 66px;
  border: 1px solid #000000;
  background-color: #FFFFF4;
}

.error-msg {
  font-size: 12px;
  width: 100%;
  color: #ff0000;
}

.success-msg {
  text-align: center;
  width: 100%;
  background-color: #0f834d;
  color: #ffffff;
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.section-app {
  padding: 30px 0;
  background-color: #FFFFF4;
}
.section-app .section-app__nav {
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.section-app .section-app__nav .nav-item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.section-app .section-app__nav .nav-item__image:hover {
  opacity: 70%;
}
.section-app .section-app__nav .nav-item .nav-item__link {
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
}
.section-app .section-app__nav .nav-item .nav-item__link:hover {
  border-bottom-color: #000000;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

.section-login {
  padding: 44px 0;
  background-color: #FFFFF4;
}
.section-login__image {
  text-align: center;
  margin-bottom: 35px;
}
.section-login__image svg {
  fill: #1B1B1B;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.section-analizer {
  padding: 30px 0;
  background-color: #FFFFF4;
}
.section-analizer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-analizer .list-items {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-analizer .list-items__item {
  display: flex;
  gap: 11px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.section-discovery {
  padding: 30px 0;
  background-color: #FFFFF4;
}
.section-discovery__title {
  display: flex;
  justify-content: space-between;
}
.section-discovery__list {
  padding: 23px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-discovery .list-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.section-lead {
  padding: 30px 0;
  background-color: #FFFFF4;
}
.section-lead__title {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.section-tasks {
  padding: 30px 0;
  background-color: #FFFFF4;
}
.section-tasks__title {
  display: flex;
  justify-content: space-between;
}
.section-tasks .done {
  font-weight: 500;
  background: #BBFC1A;
  border: 1px solid #000000;
  padding: 2px;
}
.section-tasks .notDone {
  font-weight: 500;
  border: 1px solid #000000;
  padding: 2px;
}
.section-tasks .notDone:hover {
  background: #BBFC1A;
}
.section-tasks .delete {
  font-weight: 500;
  border: 1px solid #000000;
  padding: 2px;
}
.section-tasks .delete:active {
  background: #FF5C00;
}
.section-tasks .delete:hover {
  background: #FF5C00;
}
.section-tasks .zero {
  color: #000000;
}
.section-tasks .one {
  color: #FFDC00;
}
.section-tasks .two {
  color: #ff0000;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.create-lead {
  padding: 30px 0;
  background-color: #FFFFF4;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFF4;
}

.container {
  max-width: 430px;
  padding: 0 17px 0 24px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.63px;
  color: #000000;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #000000;
}

.text-yellow {
  color: #FFDC00;
}

.text-orange {
  color: #FF5C00;
}

table {
  border-collapse: collapse;
}

td, th, tr {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

.scroll-table {
  overflow: scroll;
}
.scroll-table::-webkit-scrollbar {
  width: 0px;
}

.table {
  margin-top: 12px;
}
.table .subtitle {
  font-weight: 700;
  background-color: #FFDC00;
}
.table .text {
  font-weight: 500;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.create-script {
  padding: 30px 0;
  background-color: #FFFFF4;
}

span {
  padding-right: 10px;
}/*# sourceMappingURL=style.css.map */